body{
    background-color:rgb(1, 3, 88);
    font-family: monospace;
    font-size:medium;
    color:rgb(9, 243, 224);
}
h1,h2,h3{
    color:  rgb(197, 235, 253);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 40px;
}
h2{
    text-align: center;
    text-decoration:double underline rgb(8, 150, 233);
}
.header{
    background-image:url(images/IMG_1977-640x474.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: fixed;
    background-blend-mode: screen;
}
.header-contents{
    float:right;
    text-align: end;
}
.img2,.img3,.img4,.img5{
    width: 300px;
    height: 250px;
    margin-right: 10px;
    margin-top: 15px;
    padding-right: 10px;
    padding-top: 15px;
    float:right;
}

.p3,.p4,.p5{
    word-wrap: break-word;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left:0px;  
}
.p1{
    padding-top: 40px;
}

table, th, tr, td {
    border: 0.25px solid black;
table-layout: fixed;
background-color: rgb(62, 27, 214);
margin-right: auto;
margin-left: auto;
}
.clearfix{
    overflow: auto;
}

.shift{
    display:flex;
    flex-wrap: nowrap;
    flex-direction:row;
}


@media(max-width:700px){
    .p3,.p4,.p5{
        float:inline-end;
    }
   
.shift{
    display:flex;
    flex-direction:column;
}
.h3p{
    display: list-item;
display: inline-flex
}

.header-contents{
    float:center;
    text-align: center;
    margin: 60px;
}
  
.clearfix{
    overflow: auto;
}
}